.footer {
  border-top: 1px solid #000;
  padding: 20px;
  .list {
    & + .list {
      margin-top: 5px;
    }
    &:before {
      position: absolute;
      top: 8px;
      left: 0;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #777;
      content: "";
    }
    display: flex;
    position: relative;
    padding-left: 10px;
    font-size: 14px;
    line-height: 19px;
    white-space: pre-wrap;
  }
}
