.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);
  border-bottom: 1px solid #121212;
  box-sizing: border-box;
  .button_menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px 20px;
  }
}
