.curtain {
  position: fixed;
  inset: 0;
  display: flex;
  background: transparent;
  z-index: 9999;
  pointer-events: none;

  .left,
  .right {
    background: #000;
    height: 100%;
    transition: transform 1.4s cubic-bezier(0.65, 0, 0.35, 1.4) 1.7s;
  }

  .left {
    width: calc(50% - 0.5px);
  }

  .right {
    width: calc(50% - 0.5px);
  }

  .line {
    width: 1px;
    height: 100%;
    background: #000;
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.25); // 빛샘
    transition: transform 1.4s ease-in-out, opacity 0.5s;
    transform: translateY(0);
    animation: tremble 0.3s ease-in-out 0.8s 2;
  }

  .text_left,
  .text_right {
    position: fixed;
    top: 50%;
    font-weight: 500;
    transform: translateY(-50%);
    z-index: 2;
    opacity: 0.9;
  }

  .text_left {
    right: 50%;
    margin-right: 2px;
  }

  .text_right {
    left: 50%;
    margin-left: 3px;
  }

  &.animated {
    .left {
      transform: translateX(-100%);
    }
    .right {
      transform: translateX(100%);
    }
    .line {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}

// 진동 애니메이션
@keyframes tremble {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  75% {
    transform: translateY(-0.5px);
  }
}

.filter-blur {
  filter: blur(3px);
  transition: filter 1.4s ease-in-out;
}
.filter-clear {
  filter: blur(0);
}
