.welcome_curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background: transparent;
  z-index: 9999;
  pointer-events: none;

  .left,
  .right {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #000;
    height: 100%;
    transition: transform 1.4s cubic-bezier(0.65, 0, 0.35, 1.4) 1.7s;
  }

  .left {
    left: 0;
    width: calc(50% - 0.5px);
  }

  .right {
    right: 0;
    width: calc(50% - 0.5px);
  }

  .line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: #000;
    transition: transform 1.4s ease-in-out, opacity 0.5s;
    transform: translate(-50%);
  }

  .text_left,
  .text_right {
    position: fixed;
    top: 50%;
    z-index: 2;
    font-weight: 500;
    opacity: 0;
    color: #fff;
    transform: translateY(-50%);
    transition: opacity cubic-bezier(0.2, 0.8, 0.2, 1) 0.7s;
  }

  .text_left {
    right: 50%;
    margin-right: 2px;
  }

  .text_right {
    left: 50%;
    margin-left: 3px;
  }

  &.animated {
    .left {
      transform: translateX(-100%);
    }
    .right {
      transform: translateX(100%);
    }
    .text_left,
    .text_right {
      opacity: 0.9;
    }
    .line {
      transform: translateY(100%);
    }
  }
}
